

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

img{
    width:100%;
}

body{
    color: var(--text-color);
    background-image: url(../images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section{
    padding: 4rem 0 3rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}
.section-title{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.shop{
    margin-top: 1rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    grid-template-rows: repeat(auto-fit,minmax(100px,auto));
    gap: 1.0rem;
    row-gap: 1.5rem;
    height: 580px;
}
.product-box{
    position: relative;
    height: 100%;
    text-align: center;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}
.product-img{
    width: 100%;
    height: 50%;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.buy{
    width: 90px;
    height: 35px;
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
}
.price{
    font-weight: 500;
}
.add-cart{
   position: absolute;
   bottom: 0;
   right: 0; 
   background: var(--text-color);
   color: var(--bg-color);
   padding: 10px;
   cursor: pointer;
}
.add-cart:hover{
    background: hsl(249,32%,17%);
}